@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utilities for 3D Flip Animation */
/* Tailwind doesn't support 3D transforms out of the box */
.perspective {
  perspective: 1500px;
}

.transform-style {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-container {
  position: relative;
  transform-style: preserve-3d;
}
